<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header class="navbar navbar-fixed-top navbar-default">
  		<div class="container">
  			<%= link_to "myRecipes", "", class: "btn btn-lg btn-success", id: "logo" %>
  			<div calss="nav_item">
  				<%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
  			</div>
  			<div calss="nav_item">
  				<%= link_to "link 2", "", class: "btn btn-default btn-warning" %>
  			</div>
  			<div calss="nav_item">
  				<%= link_to "link 3", "", class: "btn btn-default btn-warning" %>
  			</div>	
  		</div>	
  	</header>
  	<div class="container">
  		<%= yield %>
  		<div class="footer">
  		<p>&copy; MyRecipes 2017</p>
  		</div>
   </div>
  </body>
</html>
